<div class="top-cart-contain" id="top-cart-contain">
    <!-- Top Cart -->
    <div class="mini-cart">
        <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle">
            <a href="shopping_cart.html">
                <span class="price hidden-xs">Shopping Cart</span>
                <span class="cart_count dummy_total_Cart_hints hidden-xs">0 Items/ $0</span>
            </a>
        </div>
        <div>
            <div class="top-cart-content" id="top-cart-content">
                <!--block-subtitle-->
                <ul class="mini-products-list" id="cart-sidebar"></ul>
                <!--actions-->
                <div class="actions dummy_top_Cart_ActionsLink">
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Top Cart -->

</div>
