@using Services.Domain
@model UserOperationModel
@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container col1-layout">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <article class="col-main">
                    <div class="account-login">
                        <div class="page-title">
                            <h2>Password recovery</h2>
                        </div>
                        <fieldset class="col2-set">
                            <div class="col-12 new-users">
                                <div class="content">
                                    <p>Please enter your email address below. You will receive a link to reset your password.</p>
                                </div>
                            </div>
                            <div class="col-md-7 ml-auto registered-users no-padding">
                                <div class="content">
                                    @using (Html.BeginForm("NewPasswordRequest", "SuperAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off" }))
                                    {
                                        <ul class="form-list">
                                            <li>
                                                <label style="display: block; width: 100%; text-align: left;padding-left: 0;">Email<span class="required">*</span></label>
                                                <input type="email" name="email" id="txtUEmail" class="input-text required-entry" data-validation="email" error-msg="Enter your registered email" expression-msg="Email must be this form test@gmail.com" />
                                            </li>
                                        </ul>
                                        <div class="buttons-set">
                                            <button type="submit" class="button login" onclick="return DoForgotPasswordValidation();"><span>Send</span></button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </article>
                <!--	///*///======    End article  ========= //*/// -->
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        if ('@ViewBag.serverMessage' != null && '@ViewBag.serverMessage' != '') {
            ShowAjaxNotificationMessage("Oops!", '@ViewBag.serverMessage', "warning");
        }
    })
    function DoForgotPasswordValidation() {

        var isFormValid = $(".required-entry").MyFormValidation();
        return isFormValid;
    }


</script>