
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container col1-layout">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <article class="col-main">
                    <div class="account-login">
                        <div class="page-title">
                            <h2 class="text-center">Register</h2>
                        </div>
                        <fieldset class="col2-set">
                            <div class="col-12 new-users">
                                <div class="content">
                                    <h4 class="text-success">Your registration has been successfully completed. You have just been sent an email containing membership activation instructions.</h4>
                                <a href="@Url.Action("Index", "Home")" class="btn btn-success">Continue</a>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </article>

            </div>

        </div>
    </div>
</div>

