
@{
    ViewBag.Title = "Invalid Authorization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container col2-left-layout">

    <div class="container">
        <div class="row">
            <div class="col-md-12 page-404" style="margin-top:15%">
                <div class="number font-green"> 401 </div>
                <div class="details">
                    <h3>Oops! Authorization request is invalid. Why you try to requested in a bad url</h3>

                    <p>
                        <a href="~/" class="btn red btn-outline"> Return to home </a>
                        <br />
                    </p>

                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
