@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
}
<!-- Main Container -->
<div class="main-container col2-left-layout">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-xs-12 col-sm-push-4 col-md-push-3">
                <article class="col-main">
                    <div class="page-title">
                        <h2>Privacy Policy</h2>
                    </div>
                    <div class="static-contain">
                        @if (ViewBag.SiteSetting != null && ViewBag.SiteSetting.PrivacyPolicyPage != null)
                        {
                            <div>@Html.Raw(HttpUtility.HtmlDecode(ViewBag.SiteSetting.PrivacyPolicyPage))</div>
                        }
                        else
                        {
                            <h3> Empty Content</h3>
                        }
                    </div>
                </article>
                <!--	///*///======    End article  ========= //*/// -->
            </div>

            <aside class="col-left sidebar col-md-3 col-sm-4 col-xs-12 col-sm-pull-8 col-md-pull-9">
                @Html.Action("_LoadPopularPost", "blog")
            </aside>


        </div>
    </div>
</div>
<!-- Main Container End -->
