<div class="block block-account">
    <div class="block-title">My Account</div>
    <div class="block-content">
        <ul>
            <li class="current">Customer Details</li>
            <li><a href="~/customer/dashboard">Account Information</a></li>
            <li><a href="~/customer/my-orders">My Orders</a></li>
            <li><a href="~/customer/my-orders">Edit Profile</a></li>
            <li><a href="~/customer/my-orders">Change Password</a></li>
        </ul>
    </div>
</div>
